*{
     margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #adfd9b;
    display: flex;
    align-items: center;
    justify-content: center;
     gap: 40px;
}
.calculator{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
     position: relative;
}
.calculator button{
    border: 0;
    outline: 0;
    width: 60px; 
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    margin: 10px;
}
.display{
    margin: 20px 0;
    display: flex; 
    justify-content: flex-end;
    width:333.91px;
}
.display input{
    width: 100%;
    height: 60px;
    font-size: 45px;
    border: 0;  
    text-align: right;
}
button.equal{
    width: 145px;
    color: #ffffff;
    background: #fb9300;
}
.firstRow button{
    color: #fb9300;
}
button.operator{
    color: #fb9300;
}
.calculator button:active{
   transform: scale(0.88);
   background: #ddd;
}
button.equal:active{
    background: #fb9300;
}
.history-btn {
    position: absolute;
    margin: 30px;
    padding-right: 20px;
    top: -20px;        
    right: -20px;     
    right: -20px;     
    z-index: 5;
    font-size: 20px;
    cursor: pointer;
    color: #000;
}


.history-panel {
    position: absolute;
    inset: 0;
    display: none;
    border-radius: 10px;
    background: #ffffff;
    padding: 15px;
    z-index: 10;
}
.tooltip {
    position: relative;
    cursor: pointer;
}


.tooltip::after {
    content: attr(data-title);
    position: absolute;
    bottom: -10%;
    right: 10px;

    background: #f5f4f4;
    color: #000000;
    padding: 10px 20px;
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
    border-radius: 6px;

    white-space: nowrap;
    opacity: 0;
    pointer-events: none;
    transform: translateY(5px);
    transition: 0.3s ease;
}


.tooltip:hover::after {
    opacity: 1;
    transform: translateZ(0);
}


.history-panel.show {
    display: block;
}

.history-header {
    display: flex;
    justify-content: space-between;
    font-weight: bold;
    margin-bottom: 10px;
}
#historyList {
    list-style: none;
    padding: 0;
}

#historyList li {
    padding: 6px 0;
    font-size: 18px;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
}
#closeIcon {
  display: none;
}


.theme-toggle {
  position: absolute;
  top:10px;
  right: 10px;
  display: flex;              
  align-items: center;        
  gap: 10px;                  
  z-index: 10;
}


.icon {
  font-size: 2.5rem;  
  transition: transform 0.4s ease, opacity 0.4s ease;
}
.sun{
  color: #fb9300;
}
.moon{
  color: #fff;
}
.icon i {
  display: block;
  line-height: 1;
}
body.dark .sun {
  opacity: 0.3;
  transform: rotate(-30deg);
}
.moon {
  opacity: 0.4;
  transition: opacity 0.6s ease, text-shadow 0.6s ease;
}

body.dark .moon {
  opacity: 1;
  text-shadow: 0 0 8px #ffffff, 0 0 18px #ffffff;
}


.switch {
  position: relative;
  width: 4.1rem;      
  height: 2.1rem;     
}

.switch input {
  display: none;
}

.slider {
  position: absolute;
  inset: 0;
  background: #ccc;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.4s;
}

.slider::before {
  content: "";
  position: absolute;
  width: 1.7rem;       
  height: 1.7rem;
  left: 2px;
  right: auto;
  top: 3px;
  background: #efecec;
  border-radius: 50%;
  transition: 0.4s;
}


input:checked + .slider {
  background: #03fd4e;
}

input:checked + .slider::before {
  left: auto;
  right: 2px;
  transform: none;
  background: #ffffff;
}

body.dark {
  background: #121212;
}
body.dark .container{
  background: #7649fa;
}
body.dark .calculator {
  background: #121212;
}
body.dark .calculator button {
  background: #2a2a2a;
  color: #ffffff;
  box-shadow: none;
}

body.dark .display input {
  color: #ffffff;
  background:#121212;
}
body.dark button.operator,
body.dark .firstRow button {
  color: #ff9800;
}
body.dark button.equal {
  background: #ff9800;
  color: #fff;
}
body.dark .history-btn{
    color: #ffffff;
}
body.dark .history-panel {
  background: #000;
}

body.dark #historyList li {
  color: #ddd;
  border-bottom: 1px solid #222;
}

body.dark .history-header {
  color: #fff;
}
body.dark .theme-btn i{
    color: #ff9800;
}
body.dark .tooltip::after {
    background: #2a2a2a;   
    color: #ffffff;    
}

.reference-section {
  margin-left: 220px;
  text-align: left;
}

.reference-section h3 {
  font-size: 16px;
  margin-bottom: 15px;
}


.phone-frame {
  width: 260px;
  height: 520px;
  background: #fe8484;
  border-radius: 30px;
  padding: 8px;
  box-shadow: 0 20px 40px rgba(66, 4, 255, 0.4);
}

.phone-frame video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 20px;
}

.disclaimer {
  font-size: 12px;
  color: #000000;
  margin-top: 15px;
}
body.dark .reference-section h3 {
  color: #fff;
}

body.dark .disclaimer {
  color: #ffffff;
}
body.dark .phone-frame {
  background: #f2fa03;
  box-shadow: 0 20px 40px rgba(255, 0, 0, 0.5);
}

@media (max-width: 900px) {
  .container {
    flex-direction: column;
    align-items: center;        
    justify-content: flex-start;
    padding-top: 20px;         
    padding-bottom: 40px;
  }

  .reference-section {
    margin-left: 0;
  }
}

@media (max-width: 900px) {
  .theme-toggle {
    top: 5px;
    right: 5px;
    gap: 2px;
  }

  .icon {
    font-size: 2rem;
  }

  .switch {
    width: 3.6rem;
    height: 1.9rem;
  }
  .slider::before {
  width: 1.6rem;       
  height: 1.6rem;
  left: 2px;
  right: auto;
  top: 2px;
}
input:checked + .slider::before {
  left: auto;
  right: 2px;
}
}

@media (max-width: 600px) {
  .theme-toggle {
    top: 5px;
    right: 5px;
    gap: 2px;
  }

  .icon {
    font-size: 1.6rem;
  }

  .switch {
    width: 3.2rem;
    height: 1.7rem;
  }

  .slider::before {
    width: 1.4rem;
    height: 1.4rem;
  }
}

