*{
     margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 100vh;
    background: #b2eaaf;
    display: flex;
    align-items: center;
    justify-content: center;
}
.calculator{
    background: #ffffff;
    padding: 20px;
    border-radius: 10px;
}
.calculator button{
    border: 0;
    outline: 0;
    width: 60px; 
    height: 60px;
    border-radius: 10px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1), 5px 5px 15px rgba(0, 0, 0, 0.2);
    background: transparent;
    font-size: 20px;
    color: #000000;
    cursor: pointer;
    margin: 10px;
}
.display{
    margin: 20px 0;
    display: flex; 
    justify-content: flex-end;
    width:333.91px;
}
.display input{
    width: 100%;
    height: 60px;
    font-size: 45px;
    border: 0;  
    text-align: right;
}
button.equal{
    width: 145px;
    color: #ffffff;
    background: #fb9300;
}
.firstRow button{
    color: #fb9300;
}
button.operator{
    color: #fb9300;
}
.calculator button:active{
   transform: scale(0.88);
   background: #ddd;
}
button.equal:active{
    background: #fb9300;
}
